

body{background-color: #95BDFF; }

h1{color:blueviolet;}


hr{    
    border-style: dotted none none;
    border-right-width: 4px;
    border-left-width: 4px;
    height: 0px;
    border-color: grey;
    border-width: 5px;
    width: 15%;}